#header-wrapper {
  position: relative;
  padding: 0em 0em 1em 0em;
  /*background: #111111 url(/images/header-bg.jpg) no-repeat center;*/
  background-size: cover;
}

#wrapper {
  position: relative;
  padding: 1em 0em 7em 0em;
}
