header {
  position: relative;
  padding: 2em 0em;
}

body {
  background: #181818;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12pt;
  font-weight: 200;
  color: #FFF;
}

footer {
  text-align: center;
}
